* {
  box-sizing: border-box;
}

#nav {
  background-color: coral;
  width: 100%;
  border: 1px solid red;
}

#content {
  border: 1px solid blue;
}

.container {
  border: 1px solid gray;
}

#about, #my-work, #contact-me {
  border: 1px solid yellow;
}

.menu li {
  width: 150px;
  
  border: 1px solid #fff;
  border-radius: 8px;
  
  list-style-type: none; /* 去掉選單符號 */
  text-align: center;
  background-color: #ff6600;
  color: #fff;
  
  display: inline-block;
}

a {
  padding: 10px 0px;
  display: block;
  color: #fff;
  text-decoration: none;
}

li:hover {
  border: 1px solid #ff6600;
  background-color: #fff;
}

li:hover a {
  color: #ff6600;
  font-weight: 800;
}

/* about me */

#my-avatar {
/*  border: 1px solid red;  標示用，排版完記得拿掉 */
  float: left;
  margin-right: 20px;
}

#my-avatar img {
  width: 200px;
}

